header {
    /* background-color: yellow; */
    padding: 20px, 0;
}

header img {
    width: 200px;
    height: 37px;
}

.box {
    width: 940px;
    position: relative;
    margin: 0 auto;/*it moves from the left my logo*/
}

nav {/*with the right 0 I move nav to the right*/
    position: absolute;
    top: 15px;
    right: 0;
}

nav li {
display: inline;
margin: 0 0 0 15px;
font-family: 'Verdana';

}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
