body {
    min-width: 400px;
    /* font-size: 18px; */
}

header {
    display: flex;
    /*moves li to the left*/
    justify-content: flex-end;
    align-items: center;
    /*items in center Y axis header*/
    height: 85px;
    padding: 5px 10%;
}

header .logo {
    cursor: pointer;
    margin-right: auto;
}

header .logo img {
    height: 37px;
    width: auto;
}

header .nav-links {
    list-style: none;
    /*Delete all dots in links */
    font-family: 'Verdana';
    /*Font just to nav-links*/
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

header .nav-links li {
    display: inline-block;
    /*li side by side*/
    padding: 0 20px;
}

header .nav-links a {
    color: black;
}

.hamburguer-icon {
    display: none;
}

header a {
    text-decoration: none;
    /* font-size: px; */
}

header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(91, 91, 91, 0.75);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

header .overlay .overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
    font-family: 'Verdana';
    text-transform: uppercase;
    font-weight: bold;
}

header .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

.main-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.gallery-item .thumbnail {
    width: 580px;
    height: auto;
    /* border: 2px solid black; */
    padding: 15px;
}

.main {
    margin: 7rem auto;
    text-align: center;
    /* background-color: aqua; */
    
}

@media screen and (max-width: 970px) {
    header .nav-links {
        font-size: 0.90rem;
    }

    header .nav-links li {
        padding: 0 0.30rem;
    }
}

@media screen and (max-width: 768px) {
    header .nav-links {
        font-size: 0.70rem;
        padding: 0 0.15rem;
    }

    header .logo img {
        height: 1.5rem;
        width: auto;
    }
}

@media screen and (max-width: 557px) {
    .nav-links {
        display: none;
    }

    .hamburguer-icon {
        display: inherit;
    }

    header .logo img {
        height: 3rem;
        width: auto;
    }

    .gallery-item .thumbnail {
        width: 70%;
        height: auto;
    }


    /*display with a less screen width*/
}

@media screen and (max-height:450px) {
    header .overlay a {
        font-size: 20px;
    }

    header .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .gallery-item .thumbnail {
        width: 70%;
    }

}
/*------------------------Portfolio view----------------------------*/
.main-portfolio {
    /* background-color: brown; */
    max-width: 1160px;
    margin: 20px auto;

}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}

.card-item .thumbnail-app {
    width: 340px;
    height: 150px;
}

table {
    border: 1px solid black;
    text-align: center;
    margin: 15px 15px 15px 15px;
    border-collapse: separate;

    background-color:  #dddddd;
 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    font-family: 'Verdana';
    font-weight: bold;
}



td{
    padding: 0 0 10px 0;
    
}

.btn-git {
    color: white;
    background-color: black;
    text-decoration: none;
    /* border: 2px solid #2cd9ff; */
    border-radius: 8px;
    padding: 10px 50px;
    font-size: 15px;
    font-weight: lighter;
}
